@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #0F2A44;
  --color-secondary: #1CA7A6;
  --color-brand-pink: #A0204D;
  --color-soft-gray: #F3F4F6;
}

/* Force light mode and white background */
:root {
  background-color: #F3F4F6 ;
  color: #374151;
}

/* Remove default Next.js dark mode media queries if they exist */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #F3F4F6 ;
    color: #374151 !important;
  }
}
@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlide {
  animation: fadeInSlide 0.6s ease-out forwards;
}

body {
  background-color: #F3F4F6 ;
  margin: 0;
  padding: 0;
}